body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}

.body_section {
    padding: 3% 5% 1%;
}

a {
    text-decoration: none;
}

@keyframes blink {
    0%, 100% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0; /* Invisible */
    }
}

.brand-name, 
.navbar-light .navbar-brand {
    font-family: "Abril Fatface", serif;
    font-weight: 400; /* Use a bold weight for better consistency */
    font-style: normal;
    font-size: 60px;
    color: #E17878;
    animation: blink 2s infinite; 
}

.headerachor {
    color: black;
    margin: 0 7px 0 7px;
    font-size: 25px;
}

.headerachor:hover {
    background-color: #F8EFDE;
    color: white !important;
    border-radius: 5px;
}

.Section1 {
    padding: 4% 0 3%;
}

.skill-img {
    width: 100%;
    height: 100%;
}

.Skill-heading {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 300;
}

#SkillBox {
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    border-radius: 20px;
    background: #c5c2ff;
    margin: 20px auto;
}

#Skill-HTML {
    width: 90%;
    border-radius: 20px;
    animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #E17878;
}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

#Skill-CSS {
    animation: Animate-CSS 1s;
    border-radius: 20px;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #E0D9D2;
}

@keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

#Skill-Python {
    border-radius: 20px;
    animation: Animate-Python 2s; /* Reduced duration */
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #E0D9D2;
}

@keyframes Animate-Python {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

#Skill-JS {
    animation: Animate-JS 3s;
    border-radius: 20px;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #E0D9D2;
}

@keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 65%;
    }
}

#Skill-C {
    animation: Animate-C 2s;
    border-radius: 20px;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #E0D9D2;
}

@keyframes Animate-C {
    from {
        width: 10px;
    }
    to {
        width: 35%;
    }
}



#Skill-SQL {
    animation: Animate-SQL 2s; /* Reduced duration */
    border-radius: 20px;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #E0D9D2;
}

@keyframes Animate-SQL {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

.Skill-Area {
    z-index: 1;
    margin-top: 8px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
}

@media only screen and (max-width: 950px) {
    body, html {
        text-align: center;
        font-size: 16px;
        line-height: normal;
    }
}

.footer {
    padding: 10px 0; /* Add vertical padding */
    color: #868e96; /* Text color */
    text-align: center; /* Center align text */
    width: 100vw; /* Full width of the viewport */
    background-color: #f8f9fa; /* Light background color for contrast */
    position: relative; /* Ensures proper positioning */
}

.footer img {
    width: 128vw; /* Set the image width to 100% of the viewport width */
    max-height: 172px; /* Set a maximum height for the image */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Add some space between text and image */
    display: block; /* Force the image to a new line */
    padding: 0; /* Remove any padding that might affect the image */
    border: none; /* Remove any default border that might cause spacing */
    margin-left: -80px; /* Ensure no left margin */
    margin-right: 0; /* Ensure no right margin */
}
